[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.125.0",
    "pandas>=2.3.3",
    "python-dotenv>=1.2.1",
    "uvicorn[standard]>=0.38.0",
]
